<div class="main-create-question-1">
  <div class="container-create-question-1">
    <h1 class="header-create-question-1">Be a teacher</h1>
    <div class="instructions-inputs">
      <form action="/home/beTeacher-11-99" method="POST">
        <button type="submit">Be a teacher</button>
      </form>
    </div>
  </div>
</div>
