
<h1 class="main-header-home">Home</h1>

<div class="main-home">
  <p class="user-home">{{currentUser.teacher}}</p>
  <div class="container-home">
    {{#unless currentUser.teacher}}
      <button class="button-add-question-home"><a href="/questions/create">Add questions</a></button>
    {{/unless}}
  </div>
</div>