<!DOCTYPE html>
<html>
  <head>
    <title>Mad Teacher</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Raleway:300|Indie+Flower|Montserrat:300|Tajawal&display=swap" rel="stylesheet">  </head>
  <body>
    {{#if currentUser}}
    <nav>
      <div>
        <span></span>
        <div>
          <a href="/home">Home</a>
          <a href="/profile">Profile</a>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    {{/if}}
    
    {{{body}}}
  </body>
</html>
