<h1>Mad Teacher</h1>
<h2>Sign up or Login</h2>
<form action="/" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required placeholder="Username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required placeholder="Password">
  <button type="submit">Login</button>
</form>
<button><a href="/signup">Sign Up</a></button>