<h1>Questions</h1>

<form action="/signup" method="POST">
  <label for="question">Question</label>
  <input type="text" name="question" id="question" placeholder="question" value="">
  <button type="submit">Next</button>
</form>