<h1>Questions 3</h1>
<p>{{this.question}}</p>

<form action='/questions/create/3/{{_id}}' method="post">
  <label for="function">function</label>
  <input type="text" name="function" id="function" placeholder="Enter your function" value="" required>
  <button type="submit">Next</button>
</form>