<h1>Questions 2</h1>
<p>{{this.question}}</p>


<form action='/questions/create/2/{{_id}}' method="post">
  {{#each this.parameters}}
  <div class="Input-2-container">
    <h3>{{position}}</h3>
    <label for="max">Max</label>
    <input type="text" name="max" id="max" placeholder="Enter max value" value="" required>
    <label for="min">Min</label>
    <input type="text" name="min" id="min" placeholder="Enter min value" value="" required>
    <label for="precission">Precission</label>
    <input type="text" name="precission" id="precission" placeholder="Enter your precission" value="" required>
  {{/each}}
  </div>
  <button type="submit">Next</button>
</form>