/* ---- reset ---- */

html {
  box-sizing: border-box;
}
/* *, *:before, *:after {
  box-sizing: inherit;
} */

/* body {
  margin: 0;
  padding: 0;
} */


/* ---- typography ---- */

/* body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
} */

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}




/* signup */
display-flex {
  display: flex;
  display: -webkit-flex; }

.main-signup {
  padding: 60px 0;
  position: relative;
  background-image: url("../images/gettyimages-520045027.jpg");
  height: 100vh;
}

.container-signup {
  width: calc( 100% - 30px);
  max-width: 100%;
  background:rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  margin: 0 auto;

}

.appointment-form-signup {
  padding: 50px 30px 70px 30px; 

}

.header-signup {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #271DEB;
  font-family: 'Tajawal', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.form-signup {
  display: block;
  margin-top: 0em;
}

.input-signup {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 20px;
}

.birthday-signup {
  font-size: 17px;
}
.buttons-signup {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.button-signup {
  width: auto;
  background: #6694FF;
  color: #fff;
  padding: 16px 17px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

.button-login-signup {
  list-style-type: none;
  width: auto;
  background: #FFCA4D;
  color: #fff;
  padding: 16px 17px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

.text-login-signup {
  text-decoration: none;
}

/* @media screen and (max-width: 1024px) {
  .container-signup {
    margin: 0 auto; } } */

/* @media screen and (max-width: 768px) {
  .container-signup {
    width: calc( 100% - 30px);
    max-width: 100%; } } */
/* @media screen and (max-width: 480px) {
  .appointment-form-signup {
    padding: 50px 30px 70px 30px; } } */



/* --- login --- */
.main-login {
  padding: 60px 0;
  position: relative;
  width: 100%;
  background-image: url("../images/gettyimages-520045027.jpg");
  height: 100vh;
}

.container-login {
  width: calc( 100% - 30px);
  max-width: 100%;
  background:rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  margin: 0 auto;
}

.appointment-form-login {
  padding: 50px 30px 70px 30px; }

.main-header-login {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #FF4100;
  font-family: 'Indie Flower', cursive;
  font-size: 59px;
  margin-bottom: -24px;
}

.sub-header-login {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #271DEB;
  font-family: Arial;
  font-size: 28px;
  margin-bottom: 30px;
}


.form-login {
  display: block;
  margin-top: 0em;
}

.input-login {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 26px;
}

.button-login {
  width: auto;
  background: #4966b1;
  color: #fff;
  padding: 16px 17px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

.buttons-login {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.button-signup-login {
  width: auto;
  background: #FFCA4D;
  color: #fff;
  padding: 16px 17px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

.text-signup-login {
  text-decoration: none;
}


/* --- home --- */

.main-header-home {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #FF4100;
  font-family: 'Indie Flower', cursive;
  font-size: 41px;
  margin-bottom: -24px;
}

.main-home {
  padding: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: initial;
  background: white;
  height: 100%;
}

.sub-header-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 18px;
}

.user-home {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #5900FF;
  font-family: 'Indie Flower', cursive;
  font-size: 59px;
  margin-bottom: -24px;
}


.user-home-name{
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #5900FF;
  font-family: 'Indie Flower', cursive;
  font-size: 59px;
  margin-bottom: -24px; 
}


.container-home {
  width: calc( 100% - 30px);
  max-width: 100%;
  background:rgba(255,255,255,0);


}

.button-add-question-home {
  background-color:#BDFFC9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:28px;
	padding:16px 37px;
	text-decoration: none;
  text-shadow:0px 2px 1px #2f6627;
  margin-left: 31px;

}



.text-button-add-question-home {
  text-decoration: none;
}

.title-home-questions {
  font-family: 'Lato', sans-serif;
  align-content: center;
}

.home-questions-answers {

}

.home-questions-answers-display {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Raleway', sans-serif;
}

.home-questions-answers-display-input{
  font-size: 20px;
}

.check-button {
  
}

/* ---- layout ---- */

body {
  font-size: 13px;
  line-height: 1.8;
  color: black;
  /* background-image: image-set("../../images/alphabet-close-up-communication-256417.jpg"); */
  /* background-image: url("../images/alphabet-close-up-communication-256417.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;
  display: flow-root;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* --- questions create 1 --- */
.main-create-question-1 {
  padding: 15px 0;
  position: relative;
}

.container-create-question-1 {
  width: calc( 100% - 30px);
  max-width: 100%;
  background:rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.appointment-form-create-question-1 {
  padding: 0px 30px 70px 30px; 
}

.headers-create-question-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 160px;
}


.header-create-question-1 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #244FB3;
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
  margin-bottom: -18px;
}

.instructions-create-question-1 {
  display: flex;
  flex-direction: column;
  width: 100;
  justify-content: center;
}

.instructions-header {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #FFCA4D;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  margin-bottom: -7px;
  text-align: center;
}

.instructions-intro {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 30px;
}

.instructions-list {
  list-style: none;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin-bottom: 30px;
  margin-left: 50px;
}


.instructions-example {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 30px;
}

.title-create-question-1 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #1540F0;
  font-family: 'Indie Flower', cursive;
  font-size: 34px;
  margin-bottom: -19px;
}

.instructions-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.instructions-inputs-input {
  width: 100%;
  display: block;
  border: 2px solid #EB951C;
  /* border-bottom: 2px solid #ebebeb; */
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 15px;
}

.instructions-inputs-button {
  width: auto;
  background: #FF4C13;
  color: #fff;
  padding: 16px 17px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}


/* --- questions create 2 --- */
.main-create-question-2 {
  padding: 0 0;
  position: relative;
}

.container-create-question-2 {
  width: calc( 100% - 30px);
  max-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}



.headers-create-question-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 12px;
}

.title-create-question-2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #1540F0;
  font-family: 'Indie Flower', cursive;
  font-size: 29px;
  margin-bottom: 9px;
}

.header-create-question-2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #244FB3;
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  margin-bottom: 9px;
}

.appointment-form-create-question-2 {
  padding: 0px 30px 70px 30px; 
}

.bring-question {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.par-question-2-inputs {
  font-size: 12px;
}

.question-2-inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}



.input-question-2 {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 22px;
}



.question-2-inputs-button {
  width: auto;
  background: #FF4C13;
  color: #fff;
  padding: 16px 17px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

/* --- questions create 3 --- */

.main-create-question-3 {
  padding: 0 0;
  position: relative;
}

.container-create-question-3 {
  width: calc( 100% - 30px);
  max-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container-question-3-inputs{

}

.input-question-3-right {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 22px;
}

.input-question-3-wrong {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family: 'Roboto Slab';
  outline: none;
  font-size: 22px;

}

.question-3-inputs-button {
  width: auto;
  background: #FF4C13;
  color: #fff;
  padding: 16px 17px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); }
  .submit:hover {
    background: #3a518d;
}

/* --- questions create 4 --- */



/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}